@import '../../scss/mixins.scss';

.header {
  background-color: var(--w-color);
}

.container {
  display: flex;
  align-items: center;
  height: 80px;
  @include section_container;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    color: var(--b-color);
    transition: color 0.3s ease;
  }

  a:hover {
    color: var(--g-color);
  }

  a:focus-visible {
    border: none;
    outline: 1px solid var(--b-color);
    outline-offset: 5px;
    color: var(--b-color);
  }

  a:active {
    color: var(--g-color);
  }
}

.team {
  margin: 0 20px 0 0;
}
