@import '../../scss/mixins.scss';

.info {
  @include offset;
  background-color: var(--w-color);
}

.container {
  @include section_container;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: var(--b-color);
}

.item {
  background-color: var(--w-color);

  &:first-of-type {
    border-radius: 0;
  }

  &:last-of-type {
    border-radius: 0;
  }

  &:not(:first-child) {
    margin: -3px 0 0 0;
  }
}

.header {
  border-top: 3px solid var(--gray-color);
  border-bottom: 3px solid var(--gray-color);

  button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 24px 0;
    width: 100%;
    border: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: var(--b-color);
    background-color: var(--w-color);
    transition: all 0.3s ease;

    &::after {
      content: '';
      flex-shrink: 0;
      margin-left: auto;
      width: 48px;
      height: 48px;
      background: url('../../assets/img/accordion-icon.png');
      transition: all 0.3s ease;
    }
  }
}

.body {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--b-color);

  :last-child {
    padding: 50px 0 0 0;
  }
}
