@import '../../scss/mixins.scss';

.aboutUs {
  @include offset;
  background-color: var(--w-color);
}

.container {
  @include section_container;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: var(--b-color);
}

.top {
  display: flex;
  margin: 30px 0 0 0;

  p {
    margin: 0 20px 0 0;
  }
}

.bottom {
  display: flex;
  flex-direction: row-reverse;
  margin: 60px 0 0 0;

  p {
    margin: 0 0 0 20px;
  }
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: var(--b-color);
}
