@import '../../scss/mixins.scss';

.educationalVideos {
  @include offset;
  background-color: var(--b-color);
}

.container {
  @include section_container;

  div {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    margin: 30px 0 0 0;
  }
}

.title {
  font-weight: 700;
  font-size: 46px;
  line-height: 120%;
  color: var(--w-color);
}
